
<!DOCTYPE html><html><head><meta charset="utf-8"/>


  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <!-- Site Metas -->
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>{% block title %}Espinosa_Alex{% endblock %}</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"/>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css"/>

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap" rel="stylesheet"/>
  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet"/>
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet"/>
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <a class="navbar-brand" href="index.html">
                <span>
                  Espinosa_Alex
                </span>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex  flex-column flex-lg-row align-items-center">
                  <ul class="navbar-nav  ">
                    <li class="nav-item active">
                      <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('change_client') }}">Добавить клиента</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('calculate_sal') }}">Рассчитать зарплату за дни</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="">Contact</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                  </form>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- end header section -->
  </div>



  <!-- contact section -->
  <section class="contact_section layout_padding">

    {% block content %}
    <div class="container contact_heading">

      <h2>
        Давайте посмотрим, кто у нас в базе
      </h2>
      <p>
        Вы можете добавить нового работника, редактировать старого
      </p>
    </div>

    {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

    <div class="container">

      <form action="" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="name_f" placeholder="имя">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="surname_f" placeholder="фамилия">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="email_f" placeholder="email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="salary_f" placeholder="текущая сумма денег">
          </div>


          <button class="btn btn-primary btn-block">
            Save
          </button>
      </form>

    </div>
        <br>
        <br>
        <br>



    <div class="col-md-8">
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Total money</td>
          </tr>
        </thead>
        <tbody>
          {% for row in result %}
          <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>

            <td width="130">
              <a href="/change_client_new_info/{{row[0]}}" class="btn btn-secondary btn-sm">edit</a>
              <a href="/delete_employee/{{row[0]}}" class="btn btn-danger btn-delete btn-sm">delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

 {% endblock %}
  </section>


  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
</body></html>